@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="welcome">Welcome to Nick's Picks. The AI powered movie reviewer.</h1>
</div>
<div class="text-center">
     <h3 class="info"> Use the links in the taskbar to view the Movie and Actor database!</h3>  
     <p class="info"> In each catagory, one can view details on Actors/Movies or add new Actors/Movies <br />
     With each added item, ChatGPT will generate reviews of the Movie/Actor</p>
</div>



<style>
    .welcome {
        background-color: ghostwhite;
        border-radius: 5px;
        height: 75px;

    }
    
    .info {
        background-color: whitesmoke;
        border-radius: 5px;
        text-align: center;
        height: 80px;
    }
    



</style>
